<a href="https://colab.research.google.com/github/Lucas-Masaba/refactory-ai-ml/blob/main/Pandas_for_Data_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What do you undertsand by the term Manipulation?


*   Type here
*   
*   
*

## What is Pandas?  
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

Source: [W3Schools](https://www.w3schools.com/python/pandas/pandas_intro.asp)


As a data scientist, you will use pandas as one of the most popular libraries for working with data.

**Panda's New Data Types**

Pandas has 2 main types of collections that we will be working with: Series and DataFrames.

1. Series are used for 1-dimensional data.
2. DataFrames are used for 2-dimensional data.  

(Note that "DataFrame" is also commonly written in text with lowercase letters as "dataframe." We will use both interchangeably in the text. In code, however, you must use capital letters.)

We will usually be working with 2-dimensional data, so let's dive into DataFrames first.

<img src="https://assets.codingdojo.com/boomyeah2015/codingdojo/curriculum/content/chapter/1679528098__bake-sale-spreadsheet-1.png">

**Creating a DataFrame**  

There are several different ways that we can create a dataframe.

We shall start from lists, the easiest way to create the dataframe is to make a temporary dictionary with the column names we want to use as the keys and the list of data as the values.

In [ ]:
# Creating the lists
names_list = ['brownie','cookie','cake', 'cupcake']
prices_list = [2.25,1.25,9.5, 3.5]
quantities_sold_list = [17, 40, 1, 10]

In [ ]:
# One way of storing our data
shop_records = {'Name':names_list,
                'Price':prices_list,
                "Quantity Sold": quantities_sold_list}

In [ ]:
shop_records

{'Name': ['brownie', 'cookie', 'cake', 'cupcake'],
 'Price': [2.25, 1.25, 9.5, 3.5],
 'Quantity Sold': [17, 40, 1, 10]}

In [ ]:
# import pandas library
import pandas as pd

In [ ]:
# Make a dataframe from a dictionary
shop_df = pd.DataFrame(shop_records)
shop_df

      Name  Price  Quantity Sold
0  brownie   2.25             17
1   cookie   1.25             40
2     cake   9.50              1
3  cupcake   3.50             10

**Anatomy of a DataFrame**  

The DataFrame is comprised of 3 primary components:

* the column names in bold font in the top row.
* the original raw data values are stored in the grid in the center.
* an index for each row in bold on the left.
We can access these 3 components as attributes for our DataFrame.

An attribute is a variable that is stored within another object. We access attributes using dot notation, similar to how we use a function stored inside a package. We do not use parenthesis when accessing an attribute.

You can access the three primary components of a dataframe individually using the following code:

In [ ]:
# a special list with the names of each column
shop_df.columns

Index(['Name', 'Price', 'Quantity Sold'], dtype='object')

In [ ]:
# the raw data in a numpy array
shop_df.values

array([['brownie', 2.25, 17],
       ['cookie', 1.25, 40],
       ['cake', 9.5, 1],
       ['cupcake', 3.5, 10]], dtype=object)

In [ ]:
# a special list with the row names (index)
shop_df.index

RangeIndex(start=0, stop=4, step=1)

### Loading Data with Pandas

We shall use the [Boston Housing Dataset](https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html).   
A [modified version](https://github.com/selva86/datasets/blob/master/BostonHousing.csv) can be found here

In [ ]:
# Loading data from google drive
# Mount your drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Loading Data
# filename = "bostonHousing1978 (1).csv"
filename="https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
df = pd.read_csv(filename)
# pd.rea_csv("/content/drive/MyDrive/test_images/bostonHousing1978.csv")

In [ ]:
# print(filename)
type(df)

pandas.core.frame.DataFrame

In [ ]:
# What is stored in df
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

We can see that pandas shows us a visual tabular perspective of the data. Here df is a dataframe containing the data organized by column and rows

### Basic operations

Let's explore some of the basic methods and attributes of a dataframe that you will commonly use.

In [ ]:
# Showing the first and last rows usinf the dataframe.head() method.
# By default this shows the first 5 rows in the dataframe
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [ ]:
# We can also pass a parameter for the number of rows we want to show
# In the example below it will show the first 3 rows
df.head(3)

In [ ]:
# Showing the last 5 rows with dataframe.tail() method.
df.tail()

In [ ]:
# How can we show the last 3 rows?
# Write your code here
df.tail(3)

In [ ]:
# Getting information about the dataframe using the .info() method
# This shows the number of rows each column, the data type of the data and the number of non-null values in each column.
df.info()

In [ ]:
# Some of the common attributes are:
df.shape
# This returns a tuple of (number of rows, number of columns)

In [ ]:
df.dtypes
# This shows the datatypes of each column

In [ ]:
# Column names
df.columns

Note on series and dataframes.  

A Pandas **Series** is like a column in a table. It is a one-dimensional array holding data of any type.  

A Pandas **DataFrame** is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns. A Dataframe is made up of series.

### Slicing
As seen earlier with lists, slicing is a common operation that will be undertaken to get part of the data.

**Select columns using brackets**

In [ ]:
# We can slice a column using square brackets like this.
# The general notation is dataframe[<column name>]
# First how can we view our column names.
# df.columns
df.head(2)

In [ ]:
# Let us pick the RM column
df['rm']
# Please note that the column names are strings, thats why we use quotes.
# We can also use double quotes

In [ ]:
# The above notation will return a series, we can verify this with the type function.
type(df['rm'])

In [ ]:
# To return a dataframe, we use double square brackets i.e.
# dataframe[[<column name>]] e.g
df[['rm']]

In [ ]:
# We can verify this using the type function
type(df[['rm']])

What visual differences have you observed between the sliced series and the sliced dataframe?

In [ ]:
# df['rm'].shape
# df[['rm']].shape

In [ ]:
# We can also slice multiple columns. We only need to write the diffrent
# column names separated by a comma (,) using the double brackets notation
# i.e. dataframe[[<column name>, <column name>,...]] e.g
df[['rm', 'lstat']]

In [ ]:
# This returns a dataframe
type(df[['rm', 'lstat']])

In [ ]:
# We can apply the dataframe/series methods and attributes to the sliced data e.g.
df[['rm', 'lstat']].head(3)

In [ ]:
# or
df['rm'].head(3)

In [ ]:
# We can also slice by column and then by row by adding square brackets and selecting a range of rows.
df['rm'][0:5]
# We use the notation dataframe[column_slice][row:slice]

In [ ]:
# Slicing by column and index
# df[<column slice>][<row slice>]
df[['rm', 'lstat']][120:121]

In [ ]:
# The row slicing is similar to list slicing so we can even use the step parameter.
df[['rm', 'lstat']][200:212:3]

In [ ]:
# We can also slice only by index
df[3:6]

In [ ]:
# Remember lists
# my_list  = [1,2,3,4,5,6,7,8,9,10]
# my_list[0:10:1]
# my_list[0:10:2]

In [ ]:
# Slicing entire dataframe by index with step
df[0:10:2]

In [ ]:
# We can use the dot notation for slicing series, but it is not recommended e.g.
df.rm
# In this case, we do not use the quotes around the column name.
# It is similar to using calling attributes.

In [ ]:
# We can check the type
type(df.rm)

In [ ]:
# Question: How can we check if slice obtained from using the brackets notation
# is the same as the slice obtained from using the dot notation. i.e.
# Is df.RM the same as df['RM]
# Hint: refer to comparison operators

**NOTE:** The dot notation has limitations e.g.
 - when the column name is the same as an inbuilt attribute
 - when there is a space in the column name

**Selecting columns using loc**  

The loc attribute of a dataframe can be used to slice the dataframe.  
The general notation is dataframe.loc[row/index_name/value or row slice, column_name/column slice].  
Although loc is primarily label-based, it can also be used with a boolean array as we shall see later.

In [ ]:
# Slicing the RM series
df.loc[:, 'rm']

In [ ]:
df.loc[2:5, ['rm', 'lstat']]

In [ ]:
# Checking the type
type(df.loc[:, 'rm'])

In [ ]:
# Getting a dataframe slice, remember we use doble brackets
df.loc[:, ['rm']]

In [ ]:
# Checking the type
type(df.loc[:, ['rm']])

In [ ]:
# We can also slice multiple columns
df.loc[:, ['rm', 'lstat']]

In [ ]:
# And also use the inbuilt methods and attributes
df.loc[:, ['rm', 'lstat']].shape

What is the first parameter (:) in the brackets. It is actually the row slicer and we can specify the indices for a specific slice or put the full colon (:), that implies that we want to get every row. The same applies for columns, we can get all columns the same way

In [ ]:
# Slicing rows from index 5-10
df.loc[5:10, ['rm', 'lstat']]

In [ ]:
# Another example
df.loc[0:10:2, ['rm', 'lstat']]

In [ ]:
# Getting a specific row e.g row with index 2.
df.loc[2, ['rm', 'lstat']]

In [ ]:
# Getting all columns using the : symbol
df.loc[:, :]

In [ ]:
# Getting all columns from row 0 to 5
df.loc[0:5, :]
# This is the same as df[0:5] and df.loc[0:5, ['RM', 'LSTAT', 'PTRATIO', 'target']]

### Exercise 1
You will use the [Pima Indians Dataset](https://www.kaggle.com/datasets/uciml/pima-indians-diabetes-database) to answer the following questions.
1. Load the data [here](https://raw.githubusercontent.com/npradaschnor/Pima-Indians-Diabetes-Dataset/master/diabetes.csv). You can use the URL directly.
2. How many rows and columns does are in the dataset?
3. Disply the column names.
4. What are the datatypes of the columns?
5. Does the dataset have null values?

### Pandas dataframe indices explained

Remeber the index is the unique ID for each row in the dataframe. Previously we have used a numerical range index but pandas indices do not need to be numbers. We shall use the shop records Dataframe to demonstrate this

In [ ]:
# We can use the set_index method to specify the column to be used as an index and this returns a modified dataframe
# Here we store the result in a new variable
shop_df_mod = shop_df.set_index('Name')
shop_df_mod

In [ ]:
shop_df_mod.index

In [ ]:
# Try to slice the Name column
# shop_df_mod['Name']

We shall get an error because the column does not exist.
Infact we can verify this by listing the columns   
**Hint:** A key error when slicing is an indication of a non-existing column

In [ ]:
# List columns
shop_df_mod.columns

In [ ]:
# Review: slicing 1 column
shop_df_mod["Price"]

In [ ]:
# Slice the row loc at index 2
# We expect an error as this index does not exist
# shop_df_mod.loc[2]

### Slicing Rows & Columns with .loc

In [ ]:
# Slice out the row with cake as the index
shop_df_mod.loc['cake',:]

In [ ]:
# Slice multiple rows using a list
shop_df_mod.loc[['cake','brownie']]

In [ ]:
# Slice the cupcake/cookie rows and Price/Quantity Sold columns
shop_df_mod.loc[["cupcake","cookie"], ["Price", "Quantity Sold"]]

### Slicing Columns (Only) with .loc

In [ ]:
# Selet all rows for the Price Column
shop_df_mod.loc[:, 'Price']

In [ ]:
# Slice all rows for mulitple columns
shop_df_mod.loc[:, ["Price","Quantity Sold"]]

Issue with dot Notation

In [ ]:
# We cannot use the dot notation to get the Quantity Sold series
# shop_df_mod.Quantity Sold

# What do you understand by filtering?

### Filtering
Get the data for this section from [here](https://drive.google.com/file/d/1Vs4IyWyXnanJxRz9wOgwgxqgg-kNAAaT/view?usp=sharing).

In [ ]:
# Import pandas if not already imported
# import pandas as pd

In [ ]:
filename1 = '/content/drive/MyDrive/AI_ML_Data_Analytics/slides/Week 1/mortgages.csv'
df1 = pd.read_csv(filename1)

Let us get some basic information about our data.

In [ ]:
df1.head()

In [ ]:
# Get the number of rows and columns
df1.shape

In [ ]:
# Get information about the datatypes()
df1.info()

In [ ]:
# What is the number of null values in each column

New functions for checking null values

In [ ]:
df1.isnull()

In [ ]:
df1.isnull().count()

In [ ]:
df1.isnull().sum()

Note that although this dataset does not have null values, these methods will come in handy next week as we learn how to deal with missing values.

In [ ]:
# Let us use some new methods to ghet information about the values in the columns
df1.columns

In [ ]:
# The value_counts() methods returns the number of occurances of the
# unique values in a series e.g.
df1['Mortgage Name'].value_counts()

In [ ]:
# We can also get this for the interest rate series
df1['Interest Rate'].value_counts()

In [ ]:
# Question: How many mortgages have a 30 Year term?

In [ ]:
# How do we create filters?
# We can use comparison operators e.g >, <,  !=,...
# E.g we can get which mortgage names are named 30 year using the equals (==) operator
df1['Mortgage Name'] == '30 Year'
# Notice this returns a boolean series/array based on the evaluation of the condition.

In [ ]:
# Let us store this filter in a variable that we shall reuse later.
mortgage_filter = df1['Mortgage Name'] == '30 Year'

In [ ]:
# Let us filter our dataframe.
# 1. Filtering with square brackets
# The general notation is dataframe[filter] and this will return a filtered data frame e.g
df1[mortgage_filter]

In [ ]:
# let us store this in a new variable and investigate the result
df1_mortgage_filtered = df1[mortgage_filter]
# We can check the value counts for the Mortgage name series
df1_mortgage_filtered['Mortgage Name'].value_counts()
# we can see that we only have the 30 Year value

In [ ]:
# Return data with an interest rate of 0.05

# Create interest rate filter
interest_filter = df1['Interest Rate'] == 0.05

# Filter the dataframe and save in a variable
df1_interest_filtered = df1[interest_filter]

# Check the result
df1_interest_filtered['Interest Rate'].value_counts()

In [ ]:
# We can also filter using the loc attribute.
# The general notation is dataframe.loc[filter, columns]
df1.loc[interest_filter, :].head()

**Combining Filters**  
We can use Bitwise operators e.g, &, | to combine filters.

In [ ]:
# Let us combine the 2 filters above i.e
# Get data where Mortgagename is 30 Year and interest rate is 0.05
df_combined_filter = df1[mortgage_filter&interest_filter]
df_combined_filter.head()

In [ ]:
# Verify by checking value_counts for both series
df_combined_filter['Interest Rate'].value_counts()

In [ ]:
df_combined_filter['Mortgage Name'].value_counts()

In [ ]:
# Question: Show data where the mortgage name is 15 Year or interest rate is less than 0.04

# Exercise 2
Using the Dataset from Exercise 1, answer the following questions.
1. Show the values of centrality for the dataset.
2. How many patients with atleast 2 **pregnancies** have higher than the mean **Glucose** level?
3. How many patients have:
  - greater than median **Blood Pressure**
  - less than median **Blood Pressure**